@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


    <div id="body_bg">
        <!-- === BEGIN CONTENT === -->
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-9">
                <!-- Main Content -->
                <div class="headline">
                    <h2>Contact Form</h2>
                </div>
                <p>
                    Subscribe and send suggestions for trips you want to travel.
                </p>
                <br>
                <!-- Contact Form -->
                <form>
                    <label>Name</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <label>
                        Email
                        <span class="color-red">*</span>
                    </label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <label>Message</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-8 col-md-offset-0">
                            <textarea rows="8" class="form-control"></textarea>
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </p>
                </form>
                <!-- End Contact Form -->
                <!-- End Main Content -->
            </div>
            <!-- End Main Column -->
            <!-- Side Column -->
            <div class="col-md-3">
                <!-- Recent Posts -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Info</h3>
                    </div>
                    <div class="panel-body">
                        <p>For more information, pleace contact us. </p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa-phone color-primary"></i>+63 - 213 - 0525
                            </li>
                            <li>
                                <i class="fa-envelope color-primary"></i>tinbaran009@gmail.com
                            </li>
                            <li>
                                <i class="fa-home color-primary"></i>http://www.Xplore.com
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <strong class="color-primary">Monday-Friday:</strong>9am to 6pm
                            </li>
                            <li>
                                <strong class="color-primary">Saturday:</strong>10am to 3pm
                            </li>
                            <li>
                                <strong class="color-primary">Sunday:</strong>Closed
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End recent Posts -->
                <!-- About -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                    </div>
                    <div class="panel-body">
                        Xplore provides marketing, branding and management consulting to destinations, 
                        resorts and tourism attractions. We are experts at uncovering what drives people 
                        to choose where they go and building integrated marketing programs to attract them — 
                        using the internet, social networks, direct marketing and mass media.
                    </div>
                </div>
                <!-- End About -->
            </div>
            <!-- End Side Column -->
        </div>
        <!-- === END CONTENT === -->

    </div>

