@{
    ViewBag.Title = "Home";
}


@section featured {
<section class="featured">
    <div class="container no-padding">
        <div class="row">
            <!-- Tabs -->
            <div class="tabs-dark" style="padding:0;">
                <!-- Tab Navigation -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">Home</a>
                    </li>
                    <li>
                        <a href="#profile" data-toggle="tab">Profile</a>
                    </li>
                    <li>
                        <a href="#messages" data-toggle="tab">Messages</a>
                    </li>
                </ul>
                <!-- End Tab Navigation -->
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="assets/img/frontpage/filler1.jpg" alt="filler image">
                        <h3>Wonders of the World</h3>
                        <p>
                            If you’re looking for tours and activities in a city you’re visiting but not sure where to start, 
                            Xplore is a great place to get you going. Here you can find the most popular tours and attractions 
                            in your city of choice as well as pre-booked shuttles and private drivers. Just know that it is often 
                            a little bit more expensive to book on here than it is directly, so consider doing your research on the site 
                            and searching the particular activity or tour in google to find a website for direct bookings.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="assets/img/frontpage/filler2.jpg" alt="filler image">
                        <h3>Kendall Levigne</h3>
                        <p>
                            Kendall founded Xplore as a place to share inspiration from her travels and to inspire others 
                            to see our world. Now in it's third year, World of Wanderlust is home to a collection of the world's best experiences, 
                            destinations, tours, hotels, restaurants, and lifestyle brands.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="messages">
                        <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="assets/img/frontpage/filler3.jpg" alt="filler image">
                        <h3>Cara Steel</h3>
                        <p>
                            Wow this is awesome! Traveling can be so overwhelming and it’s helpful to have useful resources. 
                            I have no idea how you do it and stay so calm and organized!!
                        </p>
                    </div>
                </div>
                <!-- End Tab Panes -->
            </div>
            <!-- End Tabs -->

            <div class="container">
                <div class="row">
                    <!-- Main Article -->
                    <div class="col-md-12 margin-top-30">
                        <h2 class="item-title">
                            Xplore.
                        </h2>
                        <p>
                            <img class="animate fadeInRight" style="float: right;" src="assets/img/frontpage//responsive_screens.png" alt="responsive screens">
                            What would this list be without a little shameless self promotion for one of the leading travel blogs on the internet this year? 
                            Clearly being here you have heard of it, but be sure to tell your friends and family before their travels so they too can come 
                            and find personalised reviews and inspiration for their next trip.
                        </p>
                        <p>
                            So long as you take everything you read with a grain of salt, there is a great value in this website. Just remember that 
                            most of the really bad reviews are often fuelled with spite or fake – and the really good reviews can sometimes lead to 
                            disappointment when you arrive. It’s somewhat reliable, but with its ranking system you might miss out on a really great 
                            small boutique hotel based on # of rooms and guests in relation to the bigger hotels.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <!-- End Main Article -->
                </div>
            </div>
            <div class="container no-padding gridgallery">
                <!-- Portfolio Header Text -->
                <div class="row">
                    <div class="col-md-12 padding-vert-30">
                        <h2 class="subtitle text-center">Xplore the Wonders of the World</h2>
                        <h3 class="subtitle text-center">Wanderlust.Travel.Relax.</h3>
                    </div>
                </div>
                <!-- End Portfolio Header Text -->
                <!-- Portfolio Images -->
                <div class="portfolio-group">
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image1.png" alt="image1">
                                    <figcaption>
                                        <h3>PARIS</h3>
                                        <span>The city of lovers.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image2.png" alt="image2">
                                    <figcaption>
                                        <h3>RIO</h3>
                                        <span>Imagine the movie Rio with the wonders of nature.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image3.png" alt="image3">
                                    <figcaption>
                                        <h3>AUSTRALIA</h3>
                                        <span>Live life and enjoy.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image4.png" alt="image4">
                                    <figcaption>
                                        <h3>LONDON</h3>
                                        <span>The carousel.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image5.png" alt="image5">
                                    <figcaption>
                                        <h3>SINGAPORE</h3>
                                        <span>Come and visit the beautiful places especially the Merlion.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image6.png" alt="image6">
                                    <figcaption>
                                        <h3>CALIFORNIA</h3>
                                        <span>The Golden Gate Bridge that you'll fall in love in your trip.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image7.png" alt="image7">
                                    <figcaption>
                                        <h3>LAS VEGAS</h3>
                                        <span>Take the trip and relax.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <!-- Portfolio Item -->
                    <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                        <div class="image-hover">
                            <a href="#">
                                <figure>
                                    <img src="assets/img/gridgallery/image8.png" alt="image8">
                                    <figcaption>
                                        <h3>BARCELONA</h3>
                                        <span>Who wouldn't want to stay here? A lovely place to live.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <!-- //Portfolio Item// -->
                    <div class="clearfix"></div>
                </div>
                <!-- End Portfolio Images -->
                <!-- Portfolio Footer Text -->
                <div class="row">
                    <div class="col-12-md">
                        <p class="text-center padding-bottom-30" style="max-width:690px; margin:0 auto;">
                            Xplore helps you figure out and tell your brand story. By evoking vivid 
                            mental imagery, our original brand identities and integrated campaigns communicate 
                            the single-minded idea that sets your destination apart and creates desire for your brand.
                        </p>
                    </div>
                </div>
                <!-- End Portfolio Footer Text -->
                <!-- === END CONTENT === -->
            </div>
    </div>
  </div>
</section>
}        